
/* Variables */
$primary-font: poppins;
$colour-primary: #000000;
$colour-secondary: #FFFFFF;
$colour-accent: #5cc489;


/* Link Colours */
$link-colour: #000000;
$link-hover: #41bf78;



/* CTA Link Colours */
$cta-link-colour: #FFFFFF;
$cta-link-hover: #000000;


/* Header */

$header-lineheight: 1.4;


body{
  font-family: $primary-font !important;
}

.main{
    margin: 0 auto;	
    font-family: $primary-font;

}
   

/* navbar links */
.navbar{

  .navbar-collapse{

    li{

      a{
        color: $link-colour !important;

        &:hover{
          color: $link-hover !important;

        &:visited{
          color: $link-hover !important;

        &:active{
          color: $link-hover !important;
        }
        }

        }
      }
    }
  }
}




/* shop local cta*/

#shop-local-cta{
  background-color: $colour-accent;
  font-family: $primary-font;

}


.shop-local-cta-wrapper{

  padding: 95px;
  text-align: center;
  a{
    color: $cta-link-colour;

  a:hover {

  color: $cta-link-hover  !important;
  text-decoration: none !important;
    }
  }
}

.shop-local-cta-wrapper h3{
  color: white;

}

/*inheritance buttons*/

%message{

  font-family: poppins;
  font-size: 18px;
  color: white;
  border: 1px, black;
  padding: 15px;
  width: 10%;
  text-align: center;
  margin: 10px;


 
}


.vegan {
  @extend %message;
  background-color: #f21d1d;

}

.dairy-free {
  @extend %message;
  background-color: #0f94fa;
}

.gluten-free {
  @extend %message;
  background-color: #b09153;

}

.vegetarian{
  @extend %message;
  background-color: #41bf78;

}

.diet-options{

  .vegetarian .vegan .dairy-free .gluten-free{
    display: inline;


  }
}